if BOARD_WRLS_ATREUS_V1_0_CPUAPP

config ROM_START_OFFSET
	default 0x800 if BOOTLOADER_MCUBOOT

config BT_CTLR
	default BT


CONFIG_REGULATOR=y
CONFIG_SENSOR=y

endif # BOARD_WRLS_ATREUS_V1_0_CPUAPP