config BOARD_WRLS_ATREUS_V1_0
	select SOC_NRF54L15_CPUAPP if BOARD_WRLS_ATREUS_V1_0_NRF54L15_CPUAPP
	select SOC_NRF54L15_CPUFLPR if \
		BOARD_WRLS_ATREUS_V1_0_NRF54L15_CPUFLPR || \
		BOARD_WRLS_ATREUS_V1_0_NRF54L15_CPUFLPR_XIP